// 메뉴 hover시 border-bottom none 설정

.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-submenu {
  border-bottom: none;
  &:hover {
    border-bottom: none;
  }
}

.ant-menu-submenu.ant-menu-submenu-horizontal.ant-menu-submenu-selected {
  border-bottom: none;
}

// antd-table 관련

.ant-table-row {
  text-align: left;
  font-size: 15px;
  cursor: pointer;
}
